// Colours
$softBlue: hsl(215, 51%, 70%); // primary
$cyan: hsl(178, 100%, 50%); // primary

$mainBg: hsl(217, 54%, 11%); // very dark blue
$cardBg: hsl(216, 50%, 16%); // very dark blue
$line: hsl(215, 32%, 27%); // very dark blue
$white: hsl(0, 0%, 100%);
$cyanImage: hsla(178, 100%, 50%, 0.4);

// Fonts
$title: 24px;
$body: 18px;

$light: 300;
$regular: 400;
$semibold: 600;
